#menuPillContainer {
    position: fixed;
    z-index: 3;
    height: 100%;
}

#menuPill {
    margin-left: 1rem;

}

#menuPill .nav-link {
    display: flex;
    align-items: center;
    padding: 0;
}

#menuPill .icon-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.5rem;
}