#menuPillContainer {
    position: fixed;
    z-index: 3;
    height: 100%;
}

#menuPill {
    margin-left: 1rem;

}

#menuPill .nav-link {
    /* override bootstrap's navbar colors */
    --bs-navbar-active-color: var(--ad-theme-400);
    --bs-navbar-hover-color: var(--ad-theme-200);
    --bs-nav-link-hover-color: var(--ad-theme-200);
    
    /* END override bootstrap's navbar colors */


    display: flex;
    align-items: center;
    padding: 0;
}

#menuPill .icon-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.5rem;
}